* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
}

body {
  display: flex;
  font-family: 'Open Sans', sans-serif;
  align-items: center;
  flex-direction: column;
  max-height: 720px;
}

.main {
  width: 59.2rem;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.content {
  display: flex;
  flex-direction: column;
  margin: 7.2rem auto 7.2rem;

  text-align: center;
  gap: 3.2rem;
}

h1 {
  font-family: 'Inter', sans-serif;
  font-size: 4.9rem;
  line-height: 5.6rem;
  font-weight: normal;
}

h1 span {
  font-weight: bold;
}

span,
a {
  color: #ff9900;
}

.line {
  width: 56.8rem;
  height: 0;
  margin: 0 8px;
  border: 1px solid #eceff2;
  margin-bottom: 8px;
}
p,
.contact {
  color: #7d7987;
  font-size: 1.4rem;
  line-height: 2.8rem;
}

.contact a + a {
  margin-left: 2.8rem;
}

#balls {
  position: fixed;
  right: 0;
}
