body {
  margin: 0;

  font-family: 'Open Sans', sans-serif;

  background: linear-gradient(
    180deg,
    rgb(227, 255, 248, 0) 82.08%,
    rgb(227, 255, 248, 0.38) 100%
  );

  min-height: 100vh;
}

.page {
  width: 1000px;
  margin: 0 auto;
  padding-top: 65px;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-bottom: 58px;
}

ul {
  font-family: 'Mulish', sans-serif;
  display: flex;
  gap: 48px;
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  color: #1f1534;
  text-decoration: none;
}

nav ul a {
  opacity: 0.5;
}

ul li a:hover {
  font-weight: bold;
  opacity: 1;
}

main {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

h1 {
  font-family: 'Mulish', sans-serif;
  font-size: 49px;
  line-height: 56px;
  color: #1f1534;

  font-weight: normal;

  width: 490px;
}

h1 span {
  color: #89c5cc;
  font-weight: bold;
}

p {
  font-size: 14px;
  line-height: 28px;
  color: #7d7987;

  margin: 40px 0;
}

button {
  color: white;
  text-transform: uppercase;
  font-family: 'Open Sans', sans-serif;

  background: #69b99d;
  border: 0;
  padding: 14px 32px 15px;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;

  border-radius: 4px;

  cursor: pointer;
}

footer {
  font-size: 14px;
  line-height: 28px;

  text-align: center;

  margin-top: 80px;
}

footer a {
  font-weight: bold;
}

#balls {
  position: fixed;
  bottom: 0;
  right: 0;
}
