* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
}

.theme-light {
  --number-color: #323239;
  --svg-path-color: #323238;
  --svg-path-active-color: #ffffff;
  --bg-primary-color: #e6e6e6;
  --bg-secondary-color: #e0e0e5;
  --button-active-color: #02789c;
  --cs-primary: #b3b3b7;
  --cs-secondary: #ffffff;
  --cs-primary-active: #028ab3;
  --cs-secondary-active: #026685;
}

.theme-dark {
  --number-color: #ffffff;
  --svg-path-color: #c4c4cc;
  --svg-path-active-color: #ffffff;
  --bg-primary-color: #121214;
  --bg-secondary-color: #29292e;
  --button-active-color: #0a3442;
  --cs-primary: #232327;
  --cs-secondary: #2f2f35;
  --cs-primary-active: #0c3c4c;
  --cs-secondary-active: #092c38;
}

*::selection {
  color: none;
  background: transparent;
}
button {
  cursor: pointer;
  border: none;
  background-color: transparent;
}

button.hide {
  display: none;
}

body {
  background-color: var(--bg-primary-color);
}

main {
  height: 100vh;
  width: 100vw;
  position: relative;

  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  gap: 5rem;
}

.timer {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.timer .content {
  font-family: 'Roboto', sans-serif;
  line-height: 16rem;
  font-size: 12rem;
  color: var(--number-color);
  cursor: default;
}

.timer .buttons {
  display: flex;
  justify-content: center;
  gap: 4rem;
}

.timer .buttons svg path {
  fill: var(--svg-path-color);
}

.cards {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 3.2rem;
  transition: 1s;
}

.cards .card {
  position: relative;
  display: flex;
  flex-direction: column;
}

.cards .card input {
  position: absolute;
  bottom: 1.5rem;
  left: 1.5rem;
  width: 10rem;
}

.cards .card button {
  width: 13rem;
  height: 14rem;
  border-radius: 2.4rem;
  cursor: pointer;
  background: var(--bg-secondary-color);
  box-shadow: 7px 7px 14px var(--cs-primary), -7px -7px 14px var(--cs-secondary);
}

.theme-dark .cards .card button {
  background: #121214;
  box-shadow: 6px 6px 12px #0c0c0d, -6px -6px 12px #18181b;
}

.cards .card.active button {
  background: var(--button-active-color);
  box-shadow: inset 10px 10px 20px var(--cs-secondary-active),
    inset -10px -10px 20px var(--cs-primary-active);
}

.cards .card path {
  fill: var(--svg-path-color);
}

.cards .card.active path {
  fill: var(--svg-path-active-color);
}

.cards .card.active input[type='range'] {
  background: var(--svg-path-active-color);
  background-image: var(--svg-path-active-color);
}

.cards .card.active input[type='range']::-webkit-slider-thumb {
  background: var(--svg-path-active-color);
}

input[type='range'] {
  -webkit-appearance: none;
  width: 9rem;
  height: 6px;
  background: var(--svg-path-color);
  border-radius: 9999px;
  background-image: var(--svg-path-color);
  position: relative;
  top: 12rem;
}

input[type='range']::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 16px;
  width: 16px;
  border-radius: 50%;
  background: var(--svg-path-color);
}

input[type='range']::-webkit-slider-runnable-track {
  -webkit-appearance: none;
  box-shadow: none;
  border: none;
  background: transparent;
}

footer .themes {
  position: absolute;
  top: 2rem;
  right: 5rem;
}

@media (min-width: 850px) {
  main {
    flex-direction: row;
    gap: 10vw;
  }
  footer .themes {
    position: absolute;
    top: 6.4rem;
    right: 6.4rem;
  }
}
