* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --hue: 390;
  --bg-color: hsl(240, 3%, 17%);
  --bg-control-color: hsla(var(--hue), 100%, 63%, 0.3);
  --bg-buttons-color: hsl(var(--hue), 100%, 63%);
  --text-color: rgb(255, 255, 255);

  font-size: 62.5%;
}

body {
  position: relative;
  background-image: url(https://images.unsplash.com/photo-1596016691838-70260f1e21c6?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  min-height: 100vh;
  width: 100vw;
  color: var(--text-color);
  font-family: 'Roboto', sans-serif;

  display: grid;
}

main {
  align-self: end;
  justify-self: center;
}

#timer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto 1.6rem;
}

#timer span {
  font-size: clamp(4rem, 4rem + 10vw, 8rem);
  line-height: 10.3rem;
  text-align: center;
  text-transform: uppercase;
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.hide {
  display: none;
}

.play svg path,
.pause svg path,
.sound-on svg path {
  fill: var(--bg-buttons-color);
}

button svg {
  width: clamp(3.2rem, 2rem + 12vw, 6.4rem);
}

#controls {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--bg-control-color);
  border-radius: 80px;
  gap: 3.2rem;
  padding: 2.2rem 4rem;
  width: clamp(10rem, 10rem + 30vw, 22.5rem);
}

footer {
  justify-self: end;
  align-self: end;

  padding: 0 3rem 3rem;
}
